snippet article "Article"
\documentclass[12pt]{article}
\title{}
\author{}
\date{}

\begin{document}
\maketitle
$0
\end{document}
endsnippet

snippet beamer "Beamer"
\documentclass[12pt]{beamer}
\title{}
\author{}
\date{}

\begin{document}
\begin{frame}
    \titlepage
\end{frame}

\begin{frame}\frametitle{}
    $0
\end{frame}
\end{document}
endsnippet

snippet b "Environment"
\begin{$1}
    ${0:VISUAL}
\end{$1}
endsnippet
